<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<% newPost.forEach(function(item){ %>
    <h2><%= item.title %></h2>
    <p><%= item.postBody.slice(0,200)+ " ..."%><a href= "/blog/<%=item.title %>">Read more</a></p>
<%})%>
<%- include('partials/footer'); -%>